<div class="grid w-full max-w-4xl grid-cols-3 gap-4 p-8 mx-auto shadow-lg">
    <div class="relative w-full h-full col-span-1">
        <img class="absolute object-cover w-full h-full" src="{{feature_image}}" />
    </div>
    <div class="col-span-2">
        {{#if tags}}
        {{#foreach tags limit="2"}}
        <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">
            <span
                class="inline-flex items-center rounded-full bg-secondary-100 px-3 py-0.5 text-sm font-medium text-secondary-800">
                {{name}}
            </span>
        </a>
        {{/foreach}}
        {{/if}}
        <h2 class="mt-2 mb-2 text-4xl font-heading"><a href="{{url}}">{{title}}</a></h2>
        {{#if authors}}
        <ul class="mb-4">
            {{#foreach authors limit="1"}}
            <div class="flex items-center gap-2">
                {{!-- <div>
                    <img src="{{profile_image}}" />
                </div> --}}
                <div>
                    <p>{{name}} - {{date published_at}}</p>
                </div>
            </div>

            {{/foreach}}
        </ul>
        {{/if}}
        <p class="max-w-prose"><a href="{{url}}">{{excerpt}}</a></p>
    </div>
</div>